<header>
    <div>
    <nav class="ink-navigation">
    <ul class="menu horizontal black hide-small">
    	<div class="large-60 medium-70 push-right">
        <li><a href="/">Home</a></li>
        <li><a href="/blog/">Blog</a></li>
        <li><a href="#">Actividades</a></li>
        <li><a href="#">Contactos</a></li>
    	</div>
    </ul>
</nav>

<nav class="ink-navigation pull-right ink-grid hide-all show-small">
        <ul class="menu vertical flat nav_button">
            <li>
                <button class="toggle black" data-target="#topbar_menu" id="toggleVisibility">
                    <i class="icon-reorder"></i>
                </button>
            </li>
        </ul>
        <div class="vspace">
            <ul class="menu horizontal black hide-all" id="topbar_menu">
                <li><a href="/">Home</a></li>
		        <li><a href="/blog/">Blog</a></li>
		        <li><a href="#">Actividades</a></li>
		        <li><a href="#">Contactos</a></li>
            </ul>
        </div>
    </nav>
        
</div>
<script type="text/javascript">
    NavbarSelect();
</script>
</div>
</header>
